<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Number</th>
      <% if show_dept_id %><th>Department ID</th><%end%>
      <th></th>
      <th></th>
      <th></th>
    </tr>


  <tbody>
    <% courses.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.name %></td>
        <td><%= course.number %></td>
        <% if show_dept_id %><td><%=course.department_id%></td><%end%>
        <td><%= link_to ('<span class="glyphicon glyphicon-share table-icon" aria-hidden="true"></span>
 Show').html_safe, course %></td>
        <td><%= link_to ('<span class="glyphicon glyphicon-pencil table-icon" aria-hidden="true"></span>
 Edit').html_safe, edit_course_path(course) %></td>
        <td><%= link_to ('<span class="glyphicon glyphicon-trash table-icon" aria-hidden="true"></span>
 Destroy').html_safe, course_path(course), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>