<table class="table">
  <tr>
    <th>Day</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th></th>
    <th></th>
  </tr>
<%periods.each do |period|%>
  <tr>
    <td><%=day_to_string(period.day)%></td>
    <td><%=format_time(period.start)%></td>
    <td><%=format_time(period.end)%></td>
    <td><%= link_to ('<span class="glyphicon glyphicon-pencil table-icon" aria-hidden="true"></span>
 Edit').html_safe, section_index_path %></td>
        <td><%= link_to ('<span class="glyphicon glyphicon-trash table-icon" aria-hidden="true"></span>
 Destroy').html_safe, section_index_path %></td>
  </tr>
<%end%>

</table>