<!DOCTYPE html>
<html>
<head>
  <title>YACS Admin Panel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" media="all" href="https://yacs.cs.rpi.edu/assets/application-1e4f855184b3409d5c05245f8134888c43ecbf5ac97aeb92a4b380f1e30ec62e.css" data-turbolinks-track="true">
  <%= csrf_meta_tags %>
</head>
<body>
<nav id="headerbar">
  <table id="navtable">
    <tbody>
      <tr>
        <td class="sidelink" id="page-title">
          <%=link_to "YACS Admin", root_path%>
        </td>

        <td class="sidelink" id="schools">
          <span class="sub"><%=link_to "Schools", school_index_path%></span>
        </td>
        <td class="sidelink" id="departments">
          <span class="sub"><%=link_to "Departments", department_index_path%></span>
        </td>

        <td class="sidelink" id="courses">
          <span class="sub"><%=link_to "Courses", course_index_path%></span>
        </td>

        <td class="sidelink" id="sections">
          <span class="sub"><%=link_to "Sections", section_index_path%></span>
        </td>
      </tr>
    </tbody>
  </table>

</nav>
<div id="content">
<%= yield %>
</div>
</body>
</html>
