<%=form_for @section, url: section_index_path do |c|%>
  
  <div class="form-group">
  <%= c.label :name %>
  <%= c.text_field :name, :class => "form-control"%>
</div>
  <div class="form-group">
  <%= c.label :crn %>
  <%= c.text_field :crn, :class => "form-control" %>
</div>
  <div class="form-group">
  <%= c.label :seats %>
  <%= c.text_field :seats, :class => "form-control" %>
</div>
  <div class="form-group">
  <%= c.label :seats_taken %>
  <%= c.text_field :seats_taken, :class => "form-control" %>
</div>
  <div class="form-group">
    <%= c.label :description %>

  <%= c.text_area :description , :class => "form-control"%>
</div>

  <div class="form-group">
<strong>Select department:</strong>
  <%=c.collection_select :department_id, Department.all, :id, :code, {} , :class => "form-control"%>
</div>
  <%= submit_tag "Submit", :class => "btn btn-search" %>

<%end%>