 <%=render partial: "layouts/navbar/course_active"%>

<h1> <%=@course.number%>: <%=@course.name%></h1>


<p><strong>Description:</strong> <%=@course.description%></p>
<!--

-->
<p><%= link_to ('<span class="glyphicon glyphicon-chevron-left table-icon" aria-hidden="true"></span>
 Back to all courses').html_safe, course_index_path %></p>

<h2>Sections:</h2>
<h4><%= link_to ('<span class="glyphicon glyphicon-plus h4-icon" aria-hidden="true"></span>
 Add section').html_safe, @course %></h4>

 

<!--

-->