<h1>Listing all schools</h1>
<h4> <%=link_to ('<span class="glyphicon glyphicon-plus h4-icon" aria-hidden="true"></span>
 New School').html_safe, course_index_path %></h4>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.id %></td>

        <td><%= school.name %></td>
        <td><%= link_to ('<span class="glyphicon glyphicon-share table-icon" aria-hidden="true"></span>
 Show').html_safe, course_index_path %></td>
        <td><%= link_to ('<span class="glyphicon glyphicon-pencil table-icon" aria-hidden="true"></span>
 Edit').html_safe, course_index_path %></td>
        <td><%= link_to ('<span class="glyphicon glyphicon-trash table-icon" aria-hidden="true"></span>
 Destroy').html_safe, course_index_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

